<header class="header" (swipeleft)="swipe('left')" (swiperight)="swipe('right')">
  	<div id="mySidenav" class="sidenav" ng-swipe-right="openNav()" (swipeleft)="swipe('left')" (swiperight)="swipe('right')">
	    <div class="row" class="headerRow">
	      	<a class="row" href="javascript:void(0)" class="closebtn" (click)="closeNavbtn()">
	        	<i class="fa fa-times fs20" aria-hidden="true"></i>
	      	</a>
	      	<div class="pull-left fsletterDiv">
	        	<div class="fsletter">{{firstLetter}}{{secondLetter}}</div>
	      	</div>
	      	<div class="row w70 pull-right">
		        <p class="mb0 authName">
		          	<b>{{agentName}}</b>
		        </p>
		        <p class="mb0 orgName">
		          	<b>{{orgName}}</b>
		        </p>
	        	<!--<div class="mb0" ng-repeat="role in roles">-->
	        	<div class="mb0">
	            	{{roles.join(' | ')}}            
	        	</div>
	        	<!--<button class="vp_b"> View profile</button>-->
	      	</div>  
	    </div>      
	    <!--<app-sidenavbar></app-sidenavbar>-->
	    <a routerLink="/dashboard" [routerLinkActive]="['active']" (click)="closeNav('dashboard')" >
		    <i  class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Dashboard
		</a>
		<a routerLink="/members" [routerLinkActive]="['active']" (click)="closeNav('members')">
		    <i class="fa fa-users" aria-hidden="true"></i>
		    &nbsp;&nbsp;Members
		</a>
		<a routerLink="/lazy/memberdetails" [routerLinkActive]="['active']" (click)="closeNav('lazy/memberdetails')">
		    <i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;Tracking
		</a>

		<a routerLink="/lazy/leaves" [routerLinkActive]="['active']" (click)="closeNav('lazy/leaves')">
		    <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Leaves
		</a>
		<a routerLink="/lazy/attendance" [routerLinkActive]="['active']" (click)="closeNav('lazy/attendance')">
		        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;Attendance
		</a>
		<a class="logoutLink" (click)="logOut()">
		    <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout
		</a>

		    <!--<a><i class="fa fa-question-circle"></i>&nbsp;&nbsp;Help</a>-->
		<footer class="navFooter">
		    <div class="row footerRow">
		        <div class="col-xs-2 p0">
		            <img src="../assets/favicon.png" class="footerIcon">
		        </div>
		        <div class="col-xs-8 p0 tac">  
		            <small> 
		                <span style=""> powered by </span>
		                <b class="companyFooter">Loktra</b>
		            </small>
		        </div>  
		        <div class="col-xs-2 p0"></div>
		    </div>
		</footer>
	</div>
  	<div class="row top_title Head">
    	<div class="col-xs-2" (click)="openNav()">
      		<span> 
        		<i class="fa fa-bars fs20" aria-hidden="true"></i>
      		</span> 
    	</div>
    	<div class="col-xs-8 font_family"> 
      		Leaves
    	</div>
    	<div class="col-xs-2">
			 <i class="fa fa-search" (click)="Vue('opan')" aria-hidden="true"></i>
    	</div>

  	</div>
  	<div class="row" id="input-outer">
  		<input *ngIf="search" class="from-control clearable" id="search" #search style="position: absolute;top:3px;" placeholder="Search.." [(ngModel)]=leavesSearch  (keyup)="searchByContact()"/>
  		<button *ngIf="search" class="close-icon" type="reset" (click)="clearInput()"></button>
  	</div>
</header>
<section>
	<div *ngIf="searchResultsInLeaves" style="position: absolute;top: 55px;width: 100%;z-index: 999;background-color: #fff; min-height: 40px;box-shadow: 0px 2px 6px #000;"> 
		<div class="eachAgent" *ngFor="let results of searchResults" (click)="getIdFormSearchResults(results.id,results.name)">
			<span style="font-weight:bold;font-size:15px;padding: 3px 5px;color: #fff;">{{results.name[0]}}</span> {{results.name}}
		</div>	
		<div *ngIf="searchResultsLength" class="tac eachAgent">No Data found</div>
	</div>
</section>
<section class="dateSection">
    <div class="row fs14 dateTreeDiv">
        <div class="col-xs-4 color_4F4F4F fs14 tal p0" (click)="previous()"> 
        	<i class="fa fa-chevron-left" aria-hidden="true"></i>
        	&nbsp;&nbsp; Previous
        </div>
        <div class="col-xs-4 color_4F4F4F fs14 p0 tac" name="daterangeInput" daterangepicker [options]="options" id="mainDate" (selected)="selectedDate($event)">
        	{{DaytoDisplay}}
        	<i class="fa fa-caret-down" style=""  aria-hidden="true"></i>
        </div>
        <div class="col-xs-4 color_4F4F4F p0 tar" (click)="next()">
        	Next&nbsp;&nbsp;
        	<i class="fa fa-chevron-right fs14" style="padding:3px;" aria-hidden="true"></i>
        </div>
    </div>
    <div class="row fs14 dateTreeDiv">
        <div class="col-xs-6 rCMf pull-left" routerLink="/departments">Function :
          	<span class="fwb c_0066FF">{{functionName}} </span>
        </div>
        <div class="col-xs-6 rCMf pull-right" routerLink="/regions">Region :
          	<span class="fwb c_0066FF">{{regionName}} </span> 
        </div>
    </div>
</section>

<section class="bgash">
	<div class="row pt20 filters">
		<button class="col-xs-4 tac fs10 fontstyle lh20" (click)="allReq($event)">ALL</button>	
		<button class="col-xs-4 col-lg-4 tac fs10 fontstyle lh20 activeBtn" (click)="pendingReq($event)">PENDING</button>
		<button class="col-xs-4 tac fs10 fontstyle lh20" (click)="doneReq($event)">DONE</button>
	</div>
</section>
	
<section class="bgash pt20 m320">
	<div class="row " id="All">
		<!--<div class="row mb20" *ngFor="let agentLeaves of leavesData.leavesData">-->
			<div class="row eachCard" *ngFor="let leaves of leavesData">
				<div class="row">
					<div class="col-xs-2 p0">

						<img *ngIf="leaves.requestor.avatar===null" src='../assets/noProfilePic.png'  style="border-radius: 100%; height: 36px; width: 36px; background-color: #666666;"/>
						<img *ngIf="leaves.requestor.avatar!=null" src={{leaves.requestor.avatar}}  style="border-radius: 100%; height: 36px; width: 36px; background-color: #666666;"/>
						<i class="fa fa-circle" *ngIf="leaves.requestor.status==='ONLINE'" style="color:#00E53D;position: absolute;left: 26px;top: 27px;border: 2px solid #fff;border-radius: 100%;font-size: 8px;" aria-hidden="true"></i>
                  		<i class="fa fa-circle" *ngIf="leaves.requestor.status==='OFFLINE'" style="color:#FF4D4D;position: absolute;left: 26px;top: 27px;border: 2px solid #fff;border-radius: 100%;font-size: 8px;" aria-hidden="true"></i>
                 		<i class="fa fa-circle" *ngIf="leaves.requestor.status==='INACTIVE'" style="color:#666666 ;position: absolute;left: 26px;top: 27px;border: 2px solid #fff;border-radius: 100%;font-size: 8px;" aria-hidden="true"></i> 	
					</div>
					<div class="col-xs-7 fs12 p0 fwb fontstyle">{{leaves.requestor.name}}<br/>
						<span class="fs10 c_978F7F">{{leaves.requestor.roles.join(' | ')}}</span>
					</div>
					<div class="col-xs-3 fs10 p0 c_978F7F">Requested Date 	{{leaves.request_date |date: 'MMM-dd-yyyy'}}
					</div>
				</div>	
				<div class="row">
					<div class="col-xs-2"></div>
					<div class="col-xs-10 noOfLeaves fs12">
						<span class="blue fs12 fwb">{{leaves.no_of_days}} Days - </span> 
						<span *ngFor="let leavetext of leaveIds">
							<span *ngIf="leaves.leave_type_id===leavetext.leave_id">{{leavetext.leave_id_value}}</span>
						</span>
					</div>
				</div>
				<div class="row mt10">
					<div class="col-xs-2"></div>
					<div class="col-xs-9 p0">

						<span *ngFor="let status of leaveReqStatusIds">
							<span *ngIf="leaves.latest_status_id===status.status_id">
									
								<button *ngIf="status.status_id_value==='PENDING'" class="fs10 fontstyle fwb" (click)="changeLeaveStatus(leaves.leave_id,leaves.latest_status_id)">
									<i class="fa fa-circle yellow" aria-hidden="true"></i>
									{{status.status_id_value}}		
								</button>
								
								<button *ngIf="status.status_id_value==='APPROVED'" class="fs10 fontstyle fwb" (click)="changeLeaveStatus(leaves.leave_id,leaves.latest_status_id)">
									<i class="fa fa-circle green" aria-hidden="true"></i>
									{{status.status_id_value}}		
								</button>
								
								<button *ngIf="status.status_id_value==='DENIED'" class="fs10 fontstyle fwb" (click)="changeLeaveStatus(leaves.leave_id,leaves.latest_status_id)">
									<i class="fa fa-circle red" aria-hidden="true"></i>
									{{status.status_id_value}}		
								</button>
								
								<!--<button *ngIf="status.status_id_value==='TAKEN'" class="fs10 fontstyle fwb" (click)="changeLeaveStatus(leaves.leave_id,leaves.latest_status_id)">
									<i class="fa fa-circle red" aria-hidden="true"></i>
									{{status.status_id_value}}		
								</button>-->

							</span>
						</span>
					</div>
					<div class="col-xs-1 p0">
						<div (click)="toggleMoreInfo($event)">
							<i class="fa fa-chevron-down" aria-hidden="true" (click)="toggleMoreInfoArrow($event)"></i>
						</div>
						<!--(click)="toggleMoreInfoArrow($event)"-->
						<!--<div style="display: none;" (click)="toggleMoreInfoArrow($event)">
							<i id="arrow" class="fa fa-chevron-up" aria-hidden="true"></i>
							]</div>-->
						<!--(click)="toggleMoreInfoArrow($event)-->
					</div>
				</div>
				<div style="display:none;">
					<div class="row mt10" *ngFor="let days of leaves.leave_days">
					 	<div class="col-xs-2 p0"></div>
					 	<div class="col-xs-8 tal p0 fs10">	
					 		{{days.from | date: 'MMM-dd-yyyy'}} > {{days.to | date: 'MMM-dd-yyyy'}}
						</div> 
					</div>
					<div class="row">
						<div class="col-xs-2 p0"></div>
						<div class="col-xs-10 p0 fs10 c_978F7F fontI">
							<P>Reason : {{leaves.agent_remarks}}</P>
						</div>	
					</div>

					<div class="bt" *ngIf="leaves.action.length>0">
						<div class="row">
							<div class="col-xs-2"></div>
							<div class="col-xs-7 p0 fs10 fontstyle fwb">
								<i *ngFor="let status of leaveReqStatusIds">
									<span *ngIf="leaves.action[0].action_type===status.status_id">
										<b class="fs10">{{status.status_id_value}} BY</b>
									</span>
								</i>
								<br/>
								<span class="fs12">{{leaves.action[0].action_by}}</span>
							</div>
							<div class="col-xs-3 p0 fs10">{{leaves.action[0].action_at | date: 'MMM-dd-yyyy hh:mm a'}}</div>
						</div>
						<div class="row fs10">
							<div class="col-xs-2"></div>
							<div class="col-xs-10 p0 fs10 c_978F7F fontI">
								{{leaves.action[0].manager_remarks}}
							</div>
						</div>
					</div>
				</div>
				<div class="row" *ngIf="leaves.length===0"> 
            		<img src="../assets/agentEmptyList.png" style="width:40px;height:40px;">
        		</div>
			</div>
			 
		<!--</div>-->
	</div>
	<div *ngIf="noData==='zero'" style="width:100px;height:100px;margin: auto;display: block;">
		<img src="../assets/agentEmptyList.png" style="height: 70px; width: 70px;margin: auto;display: block;" />
		<div class="tac fs12 c_978F7F">No Data</div>
	</div>	
</section>

<div class="modal fade in" #successErrorModal  id="successErrorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false">
  	<div class="modal-dialog">
    	<div class="modal-content">
		    <div class="modal-body">
		    	<div class="row c_978F7F fs12 fwb fontstyle">
		    		<div *ngFor="let status of leaveReqStatusIds">
			    		<label class="col-xs-4" *ngIf="status.status_id_value==='APPROVED'">
			    			<input   type="radio" name="rdoResult" name="rdoResult" value={{status.status_id}} [(ngModel)]="managerDecision">APPROVE
			    		</label>
		    		</div>
		    		<div *ngFor="let status of leaveReqStatusIds">
			    		<label class="col-xs-4" *ngIf="status.status_id_value==='DENIED'">
			    			<input  type="radio" name="rdoResult" value={{status.status_id}} [(ngModel)]="managerDecision" >DENY
			    		</label>
		    		</div>
		    		<div class="col-xs-4"> <span class="red fs10" *ngIf="error">{{error}}</span></div>
		    	</div> 
		    	<div class="row tac mt10">
		    		<textarea class="from-control fs10" rows="4" placeholder="Add a note (optional)" [(ngModel)]="mangerRemrks"></textarea>
		    	</div>

		    	<div class="row ">
		    		<div class="col-xs-6">
		    			
		    		</div>
		    		<div class="col-xs-6 p0">
		    			<button class="fs12" (click)="closeModal()">CANCEL</button>
		    			<button class="fs12 fwb fontstyle blue" (click)="statusToApi()">DONE</button>
		    		</div>
		    	</div>
		    </div>
    	</div>
  	</div>
</div>

<img *ngIf="loading" class="movingLoader" src="../assets/pink_loader.gif" />
<img *ngIf="loading" class="lokraImgLoader" src="../assets/favicon.png" />
